.item {
  height: 15rem;
  width: 15rem;
  border: 1px solid;
  flex: 0 0 auto;
  margin: 2rem;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.active {
  background: red;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

